@import "src/assets/styles/config";

.container {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive($medium) {
    height: auto;
    padding-block: 50px;
  }

  .greetings {
    margin-top: auto;
    width: 70%;
    text-align: left;
    margin-bottom: 30px;

    @include responsive($large) {
      width: 90%;
    }

    h1 {
      @include interFont(#454679, 30px, 800);
      margin-bottom: 10px;
    }

    h5 {
      @include interFont(#454679, 18px, 400);
      margin-bottom: 10px;
    }

    p {
      @include interFont(#454679, 15px, 400);
    }
  }

  .warning {
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
    padding-inline: 15px;
    padding-block: 12px;
    background-color: rgb(255, 216, 216);
    @include interFont(rgb(255, 81, 81), 13px, 500);
    animation-name: fadeInDown;
    animation-duration: 0.3s;

    i {
      font-size: 13px;
      padding-top: 1px;
      margin-right: 10px;
      animation-name: fadeInDown;
      animation-duration: 0.3s;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      height: 0;
      font-size: 0;
    }
    to {
      opacity: 100%;
      height: 100%;
      font-size: 13px;
    }
  }

  form {
    margin-bottom: auto;
    width: 70%;
    @include responsive($large) {
      width: 90%;
    }

    .inputs-container {
      display: flex;
      gap: 20px;
      width: 100%;
      @include responsive($medium) {
        flex-wrap: wrap;
        gap: 10px;
      }

      @include responsive($small) {
        flex-direction: column;
        gap: 0px;
      }

      #col-1 {
        width: 30%;

        @include responsive($medium) {
          width: calc(50% - 10px);
        }

        @include responsive($small) {
          width: 100%;
        }
      }

      #col-2 {
        width: 30%;

        @include responsive($medium) {
          width: calc(50% - 10px);
        }

        @include responsive($small) {
          width: 100%;
        }
      }
      #col-3 {
        width: 40%;

        @include responsive($medium) {
          width: 100%;
        }
      }
    }

    .controls-container {
      padding-bottom: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive($small) {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }

      .btn-submit {
        cursor: pointer;
        padding-block: 18px;
        padding-inline: 25px;
        border-radius: 18px;
        border: 0;
        background-color: #0075ff;
        @include interFont(white, 15px, 500);
        @include transition;

        &:hover {
          background-color: lighten(#0075ff, 40%);
          color: #0075ff;
        }

        &:disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;

    label {
      padding-inline: 15px;
      padding-block: 5px;
      @include interFont(#454679, 13px, 500);
    }

    input,
    textarea {
      outline: none;
      width: 100%;
      border: 1px solid #eaeaf0;
      border-radius: 10px;
      padding-inline: 15px;
      padding-block: 12px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 4px;
      @include interFont(#454679, 14px, 500);
      @include transition;

      &:focus {
        border: 1px solid #8fc3ff;
      }
    }

    input[type="date"] {
      padding-block: 11px;
    }

    textarea {
      height: 200px;
    }
  }

  .radio-group {
    margin-top: 16px;
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
    @include interFont(#454679, 13px, 500);

    .radio-container {
      display: flex;
      gap: 10px;
      padding-block: 5px;

      div {
        display: flex;
        align-items: center;
        margin-top: 11px;

        input[type="radio"] {
          margin-right: 5px;
          &:checked {
            background-color: aqua;
          }
        }

        label {
          @include interFont(#454679, 14px, 500);
        }
      }
    }
  }

  .select-group {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 10px;

    label {
      padding-inline: 15px;
      padding-block: 4px;
      @include interFont(#454679, 13px, 500);
    }

    select {
      outline: none;
      border: 1px solid #eaeaf0;
      border-radius: 10px;
      padding-inline: 15px;
      padding-block: 11px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 4px;
      @include interFont(#454679, 14px, 500);
      @include transition;

      &:focus {
        border: 1px solid #8fc3ff;
      }
    }
  }
  .checkbox-group {
    .checkbox {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 5px;
    }

    label {
      @include interFont(#454679, 14px, 500);
    }
  }
}
