<div class="container">
  <div class="greetings">
    <h1>We can't wait to meet you</h1>
    <h5>
      Please fill the details below so that we can get in contact with you
    </h5>
    <p>Fields with <b>*</b> are required</p>
  </div>
  <form
    #form="ngForm"
    (ngSubmit)="submit(form)"
    action="/off"
    autocomplete="off"
  >
    <div class="inputs-container">
      <div id="col-1">
        <div class="input-group">
          <label for="name">Name*</label>
          <input
            [ngStyle]="{
              'border-color': !name.valid && name.touched ? 'red' : ''
            }"
            ngModel
            #name="ngModel"
            name="name"
            id="name"
            type="text"
            minlength="4"
            maxlength="15"
            required
          />
          <div *ngIf="!name.valid && name.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="name.errors?.['required']">Name is required.</p>
              <p *ngIf="name.errors?.['minlength']">
                Name should have between 4 and 15 characters.
              </p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="lastName">Last name*</label>
          <input
            [ngStyle]="{
              'border-color': !lastName.valid && lastName.touched ? 'red' : ''
            }"
            ngModel
            #lastName="ngModel"
            id="lastName"
            name="lastName"
            type="text"
            minlength="4"
            maxlength="15"
            required
          />
          <div *ngIf="!lastName.valid && lastName.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="lastName.errors?.['required']">
                Last name is required.
              </p>
              <p *ngIf="lastName.errors?.['minlength']">
                Last name should have between 4 and 15 characters.
              </p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="email">Email*</label>
          <input
            [ngStyle]="{
              'border-color': !email.valid && email.touched ? 'red' : ''
            }"
            #email="ngModel"
            ngModel
            name="email"
            id="email"
            type="email"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            required
          />
          <div *ngIf="!email.valid && email.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="email.errors?.['required']">Email is required</p>
              <p *ngIf="email.errors?.['pattern']">Email is invalid</p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password*</label>
          <input
            [ngStyle]="{
              'border-color': !password.valid && password.touched ? 'red' : ''
            }"
            #password="ngModel"
            [(ngModel)]="passwordPattern"
            id="password"
            name="password"
            type="password"
            maxlength="16"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
            required
          />
          <div *ngIf="!password.valid && password.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="password.errors?.['required']">Password is required</p>
              <p *ngIf="password.errors?.['pattern']">
                Invalid password, your password must contain at least 8
                characters, 1 uppercase letter, 1 lowercase letter and 1 number,
                special characters are allowed
              </p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="confirmPassword">Confirm password*</label>
          <input
            [ngStyle]="{
              'border-color':
                !confirmPassword.valid && confirmPassword.touched ? 'red' : ''
            }"
            #confirmPassword="ngModel"
            ngModel
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            [pattern]="passwordPattern!"
            required
          />
          <div
            *ngIf="!confirmPassword.valid && confirmPassword.touched"
            class="warning"
          >
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="confirmPassword.errors?.['required']">
                You need to confirm your password.
              </p>
              <p *ngIf="confirmPassword.errors?.['pattern']">
                Passwords doesn't match
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="col-2">
        <div class="input-group">
          <label for="birthDate">Birth date*</label>
          <input
            [ngStyle]="{
              'border-color': !birthDate.valid && birthDate.touched ? 'red' : ''
            }"
            #birthDate="ngModel"
            ngModel
            name="birthDate"
            id="birthDate"
            type="date"
            [max]="todayDate"
            required
          />
          <div *ngIf="!birthDate.valid && birthDate.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="birthDate.errors?.['required']">
                Birth date is required
              </p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="telephone">Telephone number*</label>
          <input
            [ngStyle]="{
              'border-color': !telephone.valid && telephone.touched ? 'red' : ''
            }"
            #telephone="ngModel"
            ngModel
            id="telephone"
            name="telephone"
            type="tel"
            inputMode="numeric"
            minlength="8"
            maxlength="8"
            required
            (keypress)="validateNumbers($event)"
            (paste)="$event.preventDefault()"
          />
          <div *ngIf="!telephone.valid && telephone.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="telephone.errors?.['required']">
                Telephone is required
              </p>
              <p *ngIf="telephone.errors?.['minlength']">
                Telephone must have 8 numbers
              </p>
            </div>
          </div>
        </div>
        <div class="select-group">
          <label for="country">Country*</label>
          <select
            [ngStyle]="{
              'border-color': !country.valid && country.touched ? 'red' : ''
            }"
            #country="ngModel"
            [(ngModel)]="selectedCountry"
            name="country"
            id="country"
            required
          >
            <option
              *ngFor="let country of data.countries; let i = index"
              [value]="i"
            >
              {{ country.country }}
            </option>
          </select>
          <div *ngIf="!country.valid && country.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="country.errors?.['required']">Country is required</p>
            </div>
          </div>
        </div>
        <div *ngIf="selectedCountry" class="select-group">
          <label for="state">State*</label>
          <select
            [ngStyle]="{
              'border-color': !state.valid && state.touched ? 'red' : ''
            }"
            #state="ngModel"
            ngModel
            name="state"
            id="state"
            required
          >
            <option
              *ngFor="let state of data.countries[selectedCountry!].states"
              [value]="state"
            >
              {{ state }}
            </option>
          </select>
          <div *ngIf="!state.valid && state.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="state.errors?.['required']">State is required</p>
            </div>
          </div>
        </div>
        <div class="radio-group">
          <label>Gender*</label>
          <div class="radio-container">
            <div>
              <input
                #gender="ngModel"
                ngModel
                type="radio"
                name="gender"
                id="gender1"
                value="male"
                required
              />
              <label for="gender1">Male</label>
            </div>
            <div>
              <input
                ngModel
                type="radio"
                name="gender"
                id="gender2"
                value="female"
              />
              <label for="gender2">Female</label>
            </div>
          </div>
          <div *ngIf="!gender.valid && gender.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="gender.errors?.['required']">Gender is required</p>
            </div>
          </div>
        </div>
      </div>
      <div id="col-3">
        <div class="input-group">
          <label for="site">Personal site URL</label>
          <input
            [ngStyle]="{
              'border-color': !site.valid && site.touched ? 'red' : ''
            }"
            #site="ngModel"
            ngModel
            name="site"
            id="site"
            type="url"
            pattern="[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?"
          />
          <div *ngIf="!site.valid && site.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="site.errors?.['pattern']">Invalid URL</p>
            </div>
          </div>
        </div>
        <div class="input-group">
          <label for="aboutMe">About me</label>
          <textarea
            [ngStyle]="{
              'border-color': !aboutMe.valid && aboutMe.touched ? 'red' : ''
            }"
            #aboutMe="ngModel"
            ngModel
            name="aboutMe"
            id="aboutMe"
            pattern="[A-Za-z 0-9\.,;:!?()&\n\-]+"
          ></textarea>
          <div *ngIf="!aboutMe.valid && aboutMe.touched" class="warning">
            <i class="fa-solid fa-circle-exclamation"></i>
            <div>
              <p *ngIf="aboutMe.errors?.['pattern']">
                Invalid characters detected.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="controls-container">
      <div class="checkbox-group">
        <div class="checkbox">
          <input
            ngModel
            #agree="ngModel"
            type="checkbox"
            name="agree"
            id="agree"
            (change)="log(agree)"
          />
          <label for="agree">Agree*</label>
        </div>
        <div *ngIf="!agree.value && agree.touched" class="warning">
          <i class="fa-solid fa-circle-exclamation"></i>
          <div>
            <p>You need to accept the conditions</p>
          </div>
        </div>
      </div>
      <button [disabled]="form.invalid || !agree.value" class="btn-submit">
        Submit
      </button>
    </div>
  </form>
</div>
